<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/aboutpage" style="color:white"><strong> MfExpert </strong></a>
      </div>
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="" style="color:white"><span class="glyphicon glyphicon-log-out" style="color:whitesmoke"></span> Logout </a></li>
      </ul>
    </div>
</nav>
<script lang="Javascript">
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
    document.getElementById("header").style.fontSize = "30px";
  } else {
    document.getElementById("header").style.fontSize = "90px";
  }
}
</script>