<app-header></app-header>

<body>
    <div class="container">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-4"><h2>Member Details</h2></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> Add New </button>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <div class="table-responsive">      
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Member Region</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Aditya</td>
          <td>Agarwal</td>
          <td>aditya.agarwal@valuelabs.com</td>
          <td>Hafeezpet</td>
        </tr>
        <tr>
          <td>Vaishnavee</td>
          <td>Singh</td>
          <td>vaishnavee.singh@valuelabs.com</td>
          <td>Manikonda</td>
        </tr>
        <tr>
          <td>Shaurya</td>
          <td>Purohit</td>
          <td>shaurya.purohit@valuelabs.com</td>
          <td>Kukatpally</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  </body>

  <app-footer></app-footer>